<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Status of devices</span>
                    <span class="info-box-content">
                        <div class="form-group">
                            <select class="form-control" style="width: 100%;" aria-hidden="true" onchange="on_select_device_chang(this.value)">
                                <option selected="selected">car wash 01</option>
                                <option>car wash 02</option>
                                <option>car wash 03</option>
                            </select>
                        </div>
                    </span>
                </div>

            </div>
            <div class="w-100 row">
                <div class="col-sm-6">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-gear"></i> Setting Device <span id="device_info_name_setting">car wash 01</span></h3>
                        </div>

                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card card-danger">
                                            <div class="card-header">
                                                <h3 class="card-title">Service Time</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        ON TIME
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" placeholder="08:00">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-6">
                                                        OFF TIME
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" placeholder="20:00">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">Option 01</label>
                                            </div>
                                            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">Option 02</label>
                                            </div>
                                            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">Option 03</label>
                                            </div>
                                            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">Option 04</label>
                                            </div>
                                            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label">Option 05</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group">
                                        <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">เปิดบริการตามช่วงเวลา</label>
                                        </div>
                                    </div>


                                </div>
                                <div class="card card-secondary border rounded-lg border-warning ">
                                    <div class="card-header">
                                        <h3 class="card-title">ราคาหลัก</h3>
                                    </div>
                                    <div class="card-body text-center text-sm">
                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการฉีดน้ำ <output name="rate_01">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-success" min="1" max="60" value="10" oninput="rate_01.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการฉีดโฟม <output name="rate_02">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-warning" min="1" max="60" value="10" oninput="rate_02.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการเป่าลม <output name="rate_03">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-info" min="1" max="60" value="10" oninput="rate_03.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการน้ำประปา <output name="rate_04">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-danger" min="1" max="60" value="10" oninput="rate_04.value = this.value">
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-secondary border rounded-lg border-warning ">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-9">
                                                <h3 class="card-title">profile 02</h3>
                                            </div>
                                            <div class="col-3">
                                                <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-danger">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch10">
                                                    <label class="custom-control-label" for="customSwitch10">เปิดใช้</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-body text-center text-sm">
                                        <div class="row text-sm align-items-center border rounded-lg mb-2">
                                            <div class="col-3">
                                                ช่วงเวลา
                                            </div>
                                            <div class="col-9">
                                                <input type="text" class="form-control" placeholder="Mon-Fri(22:00-08:00)">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการฉีดน้ำ <output name="rate_11">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-success" min="1" max="60" value="10" oninput="rate_11.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการฉีดโฟม <output name="rate_12">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-warning" min="1" max="60" value="10" oninput="rate_12.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการเป่าลม <output name="rate_13">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-info" min="1" max="60" value="10" oninput="rate_13.value = this.value">
                                        </div>

                                        <div class="form-group">
                                            <label for="customRange4">ค่าบริการน้ำประปา <output name="rate_14">10</output> (วินาที/บาท) </label>
                                            <input type="range" class="custom-range custom-range-danger" min="1" max="60" value="10" oninput="rate_14.value = this.value">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mt-2">
                                    <button type="button" class="btn btn-outline-danger btn-block btn-lg"><i class="fa fa-gear"></i> ตั้งค่าระบบ</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-circle-info"></i>
                                <span id="device_info_name">car wash 01</span>
                            </h3>
                        </div>

                        <iframe id="grafana_frame" class="w-100 border rounded-lg border-dark" height="800"
                            src="https://grafana.devdls.com/d/wQ3db5P4k/dashboard-device?orgId=1&from=1681858069689&to=1681879669690&theme=dark&kiosk" title="description"></iframe>


                    </div>
                </div>
            </div>


            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>
</body>

{% include '_script.html' %}

<script>
    function on_select_device_chang(v) {
        debug(v);
        document.getElementById('grafana_frame').src = document.getElementById('grafana_frame').src
        document.getElementById('device_info_name_setting').innerText = v;
        document.getElementById('device_info_name').innerText = v;


        toastMixin.fire({
            //position: 'top',
            title: "<h5 style='color:black'>" + "Select device :" + v + "</h5>",
            background: bg_mode_theme,
            icon: "success",
        });

    }
</script>

</html>