<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->
            <div class="info-box">
                <span class="info-box-icon bg-warning "><i class="fas fa-table-columns"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Status of project(เลือกโครงการ)</span>
                    <div class="form-group">
                        <select class="form-control" style="width: 100%;" aria-hidden="true" onchange="on_select_project_chang(this.value)">
                            <option selected="selected">demo(ตลาด demo)</option>
                            <option>demo01(กทม)</option>
                            <option>demo02(ปทุม)</option>
                        </select>
                    </div>
                </div>

            </div>

            <iframe id="grafana_frame" class="w-100 border rounded-lg border-dark" height="800"
                src="https://grafana.devdls.com/d/a3pJZcP4k/dashboard-main?orgId=1&from=1681858035446&to=1681879635446&theme=dark&kiosk" title="description"></iframe>

            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>
</body>

{% include '_script.html' %}

<script>
    function on_select_project_chang(v) {
        debug(v);
        document.getElementById('grafana_frame').src = document.getElementById('grafana_frame').src
        toastMixin.fire({
            //position: 'top',
            title: "<h5 style='color:black'>" + "Select project :" + v + "</h5>",
            background: bg_mode_theme,
            icon: "success",
        });

    }
</script>

</html>