<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->

            <iframe class="w-100 border rounded-lg border-dark" height="800"
                src="http://47.254.250.76:3000/d/a3pJZcP4k/dashboard-main?from=1681808665334&to=1681808965334&orgId=1&kiosk" title="description"></iframe>

            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>
</body>

{% include '_script.html' %}

<script>

</script>

</html>