<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper p-4 text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->

            <div class="row border rounded-lg p-2 border-warning">
                <div class="info-box">
                    <!-- <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span> -->
                    <a href="/project" class="info-box-icon bg-warning "><i class="fas fa-warehouse"></i></a>
                    <div class="info-box-content">
                        <span class="info-box-text">Status of devices</span>
                        <div class="info-box-content">
                            {% for p in project_name %}
                            {{p}}
                            <br>
                            {% endfor %}
                        </div>
                        <a href="/dashboard" class="btn btn-sm btn-primary">
                            <i class="fas fa-tachometer-alt"></i> View Dashboard
                        </a>
                        <button onclick="add_device()" class="btn btn-sm btn-outline-warning my-2">
                            <i class="fas fa-plus"></i> สร้าง Device</button>
                    </div>


                </div>
                {% for device in devices_on %}
                <div class="col-sm-6 col-md-4">

                    <div class="info-box ">
                        <span class="info-box-icon bg-gradient-orange elevation-1 "><i class="fas fa-mobile-screen-button"></i></span>
                        <div class="info-box-content">
                            <h3 class="profile-username text-center text-success">{{device.name}}</h3>
                            <h3 class="profile-username text-center text-orange">{{device.sn}}</h3>
                            <div class="text-success text-sm text-center m-1">{{device.last_heart_beat}}</div>
                            <div class="text-info text-sm text-center m-1">Project ID:{{device.project_id}}</div>

                            <button onclick="edit_device('{{device.id}}')" class="btn btn-sm btn-outline-warning">
                                Edit <i class="fas fa-edit"></i>
                            </button>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item text-primary">
                                    <b><i class="fa-brands fa-bitcoin"></i> รายรับ(Counter)</b>
                                    <p class="float-right">{{device.pay}}</p>
                                    <button onclick="reset_counter('{{device.id}}')" class="btn btn-sm btn-outline-danger">
                                        <i class="fas fa-rotate"></i>
                                    </button>
                                </li>
                                <li class="list-group-item text-warning">
                                    <b><i class="fa-regular fa-clock"></i> Service Hour</b>
                                    <p class="float-right">{{device.sh}}</p>
                                </li>
                                <li class="list-group-item text-success">
                                    <b><i class="fa-regular fa-clock"></i> On Services</b>
                                    <p class="float-right">{{device.on}}</p>
                                </li>
                                <!-- <li class="list-group-item text-info">
                                    <b><i class="fa-regular fa-clock"></i> แรงดันน้ำ</b>
                                    <p class="float-right">{{device.ps}}</p>
                                </li>
                                <li class="list-group-item text-info">
                                    <b><i class="fa-regular fa-clock"></i> ปริมาณโฟม</b>
                                    <p class="float-right">{{device.vf}}</p>
                                </li> -->
                                <li class="list-group-item">
                                    <a role="button" href="/dashboard_device/?id={{device.id}}" class="float-right">More...</a>
                                    <button onclick="remove_device('{{device.id}}')" class="btn btn-sm btn-outline-danger">
                                        <i class="fas fa-trash-can"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row border rounded-lg p-2 mt-4 border-warning">
                <div class="col-12 alert alert-warning alert-dismissible">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    Warning alert off line devices.
                </div>
                {% for device in devices_off %}
                <div class="col-sm-6 col-md-4">

                    <div class="info-box">
                        <div class="ribbon-wrapper ribbon-lg">
                            <div class="ribbon bg-gradient-warning">
                                OFF LINE
                            </div>
                        </div>

                        <span class="info-box-icon bg-gradient-secondary elevation-1 "><i class="fas fa-mobile-screen-button"></i></span>
                        <div class="info-box-content">

                            <h3 class="profile-username text-center text-gray">{{device.name}}</h3>
                            <h3 class="profile-username text-center text-gray">{{device.sn}}</h3>
                            <div class="text-gray text-sm text-center m-1">{{device.last_heart_beat}}</div>
                            <div class="text-gray text-sm text-center m-1">Project ID:{{device.project_id}}</div>
                            <button onclick="edit_device('{{device.id}}')" class="btn btn-sm btn-outline-warning">
                                Edit <i class="fas fa-edit"></i>
                            </button>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-brands fa-bitcoin"></i> รายรับ</b>
                                    <p class="float-right">{{device.pay}}</p>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-regular fa-clock"></i> Service Hour</b>
                                    <p class="float-right"></p>
                                </li>

                                <li class="list-group-item">
                                    <button onclick="remove_device('{{device.id}}')" class="btn btn-sm btn-outline-danger">
                                        <i class="fas fa-trash-can"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>

    <div class="modal fade bd-example-modal-lg" id="modal_add_device" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_device_label">Add New Devive</h4>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Device Name</label>
                            <input type="text" class="form-control" id="device_name" placeholder="" value="demo_001">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">** Device serial number ** (SN:)</label>
                            <input type="text" class="form-control" id="device_sn" placeholder="" value="sn-demo_001">
                        </div>

                        <div class="form-group">
                            <label for="device_project_name">config:<code>Select Project</code></label>
                            <select class="custom-select form-control-border border-width-2" id="device_project_name">
                                {% for p in project_name %}
                                <option>{{p}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" onclick="close_add_device()">Close</button>
                    <button type="button" class="btn btn-success" onclick="submit_device()">Success</button>
                </div>
            </div>

        </div>

    </div>

</body>

{% include '_script.html' %}

<script>
    let device_id = 0;
    //$('#modal_add_device').modal('show');


    async function close_add_device() {
        let result = await Swal.fire({
            title: 'Do you close ?',
            showDenyButton: true,
            confirmButtonText: 'Yes (ตกลง)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            $('#modal_add_device').modal('hide');
        }
    }

    async function add_device() {
        let result = await Swal.fire({
            title: 'Do you have to create a new device?',
            showDenyButton: true,
            //showCancelButton: true,
            confirmButtonText: 'Yes (ต้องการสร้าง device)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            document.getElementById("modal_device_label").innerHTML = "Add New Device";
            modal_device_label
            device_id = 0;
            $('#modal_add_device').modal('show');
        }
    }

    async function edit_device(id) {
        let result = await Swal.fire({
            title: 'Do you have to edit a device?',
            showDenyButton: true,
            //showCancelButton: true,
            confirmButtonText: 'Yes (ต้องการสร้างแก้ไข device)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            document.getElementById("modal_device_label").innerHTML = "Edit Device id: " + id;
            device_id = id;
            const _reply = await fetchApi("/api_model/device/" + id, "get", null, "json");
            if (_reply.success) {
                const _d = _reply.data;
                const device_project_name = _reply.device_project_name;
                console.log(_d);
                document.getElementById("device_name").value = _d.name;
                document.getElementById("device_sn").value = _d.sn;
                document.getElementById("device_project_name").value = device_project_name;
                $('#modal_add_device').modal('show');
            }

        }
    }

    async function remove_device(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "กรุณายืนยันการลบข้อมูลตู้ : ID " + id,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, (ตกลง)!'
        });
        if (result.isConfirmed) {
            const _reply = await fetchApi("/api_model/device/" + id, "delete", null, "json");
            if (_reply.success) {
                Swal.fire(
                    'Success!',
                    'ระะบบดำเนินการลบข้อมูลเรียบร้อยแล้ว',
                    'success'
                );
                window.location.reload();
            } else {
                Swal.fire({
                    icon: "error",
                    title: "unsuccessful",
                    html: _reply.msg,
                });
            }
        }
    }


    async function submit_device() {
        const device_name = document.getElementById("device_name").value;
        const device_sn = document.getElementById("device_sn").value;
        const device_project_name = document.getElementById("device_project_name").value;


        if (device_name == "" || device_sn == "" || device_project_name == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!(ข้อมูลไม่ครบ...)',
                footer: 'CCW'
            })
        } else {

            let result = await Swal.fire({
                title: 'Do you is Confirm ?',
                showDenyButton: true,
                confirmButtonText: 'Yes (ตกลง)',
                denyButtonText: `No (ไม่ต้องการ)`,
            });

            if (result.isConfirmed) {
                const formData = new FormData();
                formData.append("id", device_id);
                formData.append("device_name", device_name);
                formData.append("device_sn", device_sn);
                formData.append("device_project_name", device_project_name);

                debug_form(formData)

                const _reply = await fetchApi("/api_model/device/", "post", formData, "json");
                if (_reply.success) {
                    Swal.fire({
                        icon: "info",
                        title: "Successful",
                        html: _reply.msg,
                    }).then(() => {
                        location.reload();

                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "unsuccessful",
                        html: _reply.msg,
                    }).then(() => {


                    });
                }


            }
        }

    }


    async function reset_counter(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "กรุณายืนยันการ Reset Count ตู้ : ID " + id,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, (ตกลง)!'
        });
        if (result.isConfirmed) {
            const _reply = await fetchApi("/api_model/device_reset_count/" + id, "post", null, "json");
            if (_reply.success) {
                Swal.fire(
                    'Success!',
                    'ระะบบดำเนินการลบข้อมูลเรียบร้อยแล้ว',
                    'success'
                );
                window.location.reload();
            } else {
                Swal.fire({
                    icon: "error",
                    title: "unsuccessful",
                    html: _reply.msg,
                });
            }
        }
    }
</script>

</html>