<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper p-4 text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->

            <div class="row border rounded-lg p-2 border-warning">
                <div class="info-box">
                    <!-- <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span> -->
                    <a href="/project" class="info-box-icon bg-warning "><i class="fas fa-warehouse"></i></a>
                    <div class="info-box-content">
                        <span class="info-box-text">Status of devices</span>
                        <span class="info-box-content">
                            On line Devices
                        </span>
                    </div>
                    <a href="/dashboard" class="btn btn-sm btn-primary">
                        <i class="fas fa-tachometer-alt"></i> View Dashboard
                    </a>

                </div>
                {% for device in devices %}
                <div class="col-sm-6 col-md-4">

                    <div class="info-box ">

                        <span class="info-box-icon bg-gradient-orange elevation-1 "><i class="fas fa-mobile-screen-button"></i></span>
                        <div class="info-box-content">
                            <h3 class="profile-username text-center text-orange">Device demo</h3>
                            <div class="text-success text-sm text-center m-1">{{device.last_heartbeat}}</div>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item text-primary">
                                    <b><i class="fa-brands fa-bitcoin"></i> รายรับ</b>
                                    <p class="float-right">xxx</p>
                                </li>
                                <li class="list-group-item text-warning">
                                    <b><i class="fa-regular fa-clock"></i> Service Hour</b>
                                    <p class="float-right">3.5</p>
                                </li>
                                <li class="list-group-item text-success">
                                    <b><i class="fa-regular fa-clock"></i> On Services</b>
                                    <p class="float-right">ปกติ</p>
                                </li>
                                <li class="list-group-item text-info">
                                    <b><i class="fa-regular fa-clock"></i> แรงดันน้ำ</b>
                                    <p class="float-right">ปกติ</p>
                                </li>
                                <li class="list-group-item text-info">
                                    <b><i class="fa-regular fa-clock"></i> ปริมาณโฟม</b>
                                    <p class="float-right">ปกติ</p>
                                </li>
                                <li class="list-group-item">
                                    <a role="button" href="/dashboard_device/?id=1234" class="float-right">More..</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row border rounded-lg p-2 mt-4 border-warning">
                <div class="col-12 alert alert-warning alert-dismissible">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    Warning alert off line devices.
                </div>
                {% for device in devices_off %}
                <div class="col-sm-6 col-md-4">

                    <div class="info-box">
                        <div class="ribbon-wrapper ribbon-lg">
                            <div class="ribbon bg-gradient-warning">
                                OFF LINE
                            </div>
                        </div>

                        <span class="info-box-icon bg-gradient-secondary elevation-1 "><i class="fas fa-mobile-screen-button"></i></span>
                        <div class="info-box-content">
                            <h3 class="profile-username text-center text-gray">Device demo</h3>
                            <div class="text-secondary text-sm text-center m-1">{{device.last_heartbeat}}</div>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-brands fa-bitcoin"></i> รายรับ</b>
                                    <p class="float-right">xxx</p>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-regular fa-clock"></i> Service Hour</b>
                                    <p class="float-right">3.5</p>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-regular fa-clock"></i> On Services</b>
                                    <p class="float-right">-</p>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-regular fa-clock"></i> แรงดันน้ำ</b>
                                    <p class="float-right">ปกติ</p>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <b><i class="fa-regular fa-clock"></i> ปริมาณโฟม</b>
                                    <p class="float-right">ปกติ</p>
                                </li>
                                <li class="list-group-item">
                                    <a role="button" class="float-right">More..</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>
</body>

{% include '_script.html' %}

<script>

</script>

</html>