<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">

    <div class="info-box bg-gradient-danger w-75 mx-auto mt-8">
        <span class="info-box-icon"><i class="fas fa-comments"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">System</span>
            <span class="progress-description">
                user this in block for system.
            </span>
        </div>

    </div>

    {% include '_footer.html' %}
    </div>

</body>

</html>

{% include '_script.html' %}
<script>
    logout();
</script>