<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper p-4 text-gray-dark">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">CCW</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpc1cWUQ25S0D0fzgvxukJyDN7ioekzBINiA&usqp=CAU"
                                    alt="User Image">
                                <span class="username">
                                    <a href="#">CCW SYSTEMS</a>
                                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                </span>
                                <span class="description">Posted 5 photos - 5 days ago</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <img class="img-fluid w-100 rounded-pill"
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxEXq3EocMDoWmDjUoPwaMXqKKqEgEty3U8g&usqp=CAU" alt="Photo">
                                </div>

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img class="img-fluid mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpc1cWUQ25S0D0fzgvxukJyDN7ioekzBINiA&usqp=CAU"
                                                alt="Photo">
                                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpc1cWUQ25S0D0fzgvxukJyDN7ioekzBINiA&usqp=CAU"
                                                alt="Photo">
                                        </div>

                                        <div class="col-sm-6">
                                            <img class="img-fluid mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpc1cWUQ25S0D0fzgvxukJyDN7ioekzBINiA&usqp=CAU"
                                                alt="Photo">
                                            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpc1cWUQ25S0D0fzgvxukJyDN7ioekzBINiA&usqp=CAU"
                                                alt="Photo">
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <p>
                                <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                                <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                <span class="float-right">
                                    <a href="#" class="link-black text-sm">
                                        <i class="far fa-comments mr-1"></i> Comments (5)
                                    </a>
                                </span>
                            </p>
                            <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                        </div>
                        <p>
                            A car wash system panel is a control panel that is used to operate and manage a car wash system. The panel typically consists of a series of buttons,
                            switches, and displays that are used to control various components of the car wash system, such as the wash cycle, water temperature, and chemical
                            dispensing.

                            The panel is usually located in a central location, such as a control room, where the car wash operators can easily access and control the car wash
                            system. The panel may also be integrated with a computer system that is used to monitor and track the car wash operations, such as the number of cars
                            washed, the amount of water and chemicals used, and the overall efficiency of the car wash system.

                            Modern car wash system panels may also include touch screens, which allow operators to easily navigate through various screens and menus to access
                            different functions and settings. Some car wash system panels may also be equipped with remote access capabilities, which allow operators to control the
                            car wash system from a remote location, such as a smartphone or tablet.

                            Overall, the car wash system panel plays a crucial role in the operation and management of a car wash system, allowing operators to efficiently and
                            effectively clean cars while minimizing water and chemical usage.
                        </p>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>

        {% include '_footer.html' %}
    </div>
</body>
{% include '_script.html' %}

<script>

</script>

</html>