<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
    <script src="/static/dist/js/face-api.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-black" id="body_content">
    <div class="login-box mx-auto mt-5">
        <div class="login-logo badge w-100 text-orange">
            <h1>CCW ระบบตู้ล้างรถ</h1>
        </div>

        <div class="card-body login-card-body rounded bg-gradient-orange">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="mb-5">
                <div class="input-group mb-2">
                    <input type="text" class="form-control text-gray" placeholder="User" value="root" id="user_name" onkeyup="user_keyup()" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-astronaut"></span>
                        </div>
                    </div>
                </div>
                <div class="border rounded mt-4">
                    <div class="input-group">
                        <input type="password" class="form-control text-gray" placeholder="Password" value="12341234" id="user_password" onkeyup="password_keyup()" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 text-center mt-4">
                    <div class="icheck-info">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Remember Me </label>
                    </div>
                </div>

                <button class="btn w-100 btn-warning " onclick="login();">เข้าสู่ระบบ (Sign In)</button>

            </div>

            <div class="card bg-dark d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                    ติดต่อ
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-7 text-orange">
                            <h2 class="lead"><b>CCW SYSTEM</b></h2>
                            <p class="text-muted text-sm"><b>About: </b> Car Wash System</p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone 02-123-4567</li>
                            </ul>
                        </div>
                        <div class="col-5 text-center">
                            <img src="/static/image/logo.png" alt="user-avatar" class="img-circle img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a href="#" class="btn btn-block btn-primary bg-teal"> <i class="fas fa-comments mr-2"></i> CCW Line </a>
                        <a href="#" class="btn btn-block btn-primary"> <i class="fab fa-facebook mr-2"></i> CCW Facebook </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include '_script.html' %}
<script>
    // For Login Page
    checkCookie();
</script>


</html>