<!DOCTYPE html>
<html lang="en">

<head>
    {% include '_header.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        {% include '_side_bar.html' %}
        <div class="content-wrapper p-4 text-gray-dark">
            <!-- ? ************************************************ HTML CONTENT ******************************************************** -->

            <div class="row border rounded-lg p-2 border-warning">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-warehouse"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Information of project</span>
                        <span class="info-box-content">
                            CCW System
                        </span>
                        <button onclick="add_project()" class="btn btn-sm btn-danger">
                            <i class="fas fa-plus"></i> สร้าง Project</button>
                    </div>

                </div>
                {% for p in projects %}
                <div class="col-12 col-md-6 d-flex align-items-stretch flex-column">
                    <div class="card d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                            Project Information
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>{{p.name}}</b></h2>
                                    <p class="text-muted text-sm"><b>About: </b> ระบบตู้ล้างรถ</p>
                                    <p class="text-muted text-sm"><b>Owner: </b> {{p.system_user.username}}</p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> status : {{p.status}}</li>
                                    </ul>

                                    <ul class="ml-4 mb-0 fa-ul text-muted mt-4">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> Staff: {{p.staff}}</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{p.address}}</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone :{{p.phone}}</li>
                                    </ul>
                                    <button onclick="remove_project('{{p.id}}');" class="btn btn-sm btn-outline-danger mx-4 my-2">
                                        <i class="fas fa-trash-can"></i> Remove (ยกเลิกโครงการ)
                                    </button>
                                    <button onclick="edit_project('{{p.id}}');" class="btn btn-sm btn-outline-warning mx-4">
                                        <i class="fas fa-edit"></i> Edit (แก้ไขข้อมูล โครงการ)
                                    </button>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="{{p.pictureUrl}}" alt="no image" class="img-circle img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <a href="/device/?project_id={{p.id}}" class="btn btn-sm bg-warning">
                                    <i class="fas fa-sliders-h"></i> จัดการ Devices
                                </a>
                                <a href="/dashboard/?project_id={{p.id}}" class="btn btn-sm btn-primary">
                                    <i class="fas fa-tachometer-alt"></i> View Dashboard
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- ? ************************************************************************************************************************ -->
        </div>
        {% include '_footer.html' %}
    </div>

    <!-- ModelAdd Project -->
    <div class="modal fade bd-example-modal-lg" id="modal_add_project" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_project_label">Add New Project</h4>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="project_owner">Owner: <code>Select owner of project</code></label>
                            <select class="custom-select form-control-border border-width-2" id="project_owner">
                                {% for owner in owners %}
                                <option>{{owner}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group text-center">

                            <img src="/static/dist/img/img_not_found.png" id="preview-img-of-item" class="img-circle elevation-2" width="128px" height="128px" alt="ไม่มีรูป" />

                            <div class="mt-2">
                                <input type="file" class="btn btn-outline-warning" name="image_upload" accept="image/*" onchange="showPreview(event,'preview-img-of-item');" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Project Name</label>
                            <input type="text" class="form-control" id="project_name" placeholder="" value="demo_001">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input type="text" class="form-control" id="project_address" placeholder="" value="address test">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Staff Name</label>
                            <input type="text" class="form-control" id="project_staff" placeholder="" value="project_staff demo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Project Phone</label>
                            <input type="tel" class="form-control" id="project_phone" placeholder="" value="1234567890">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" onclick="close_add_project()">Close</button>
                    <button type="button" class="btn btn-success" onclick="submit_add_project()">Success</button>
                </div>
            </div>

        </div>

    </div>
</body>

{% include '_script.html' %}

<script>
    let project_id = 0;
    async function add_project() {
        let result = await Swal.fire({
            title: 'Do you have to create a new project?',
            showDenyButton: true,
            //showCancelButton: true,
            confirmButtonText: 'Yes (ต้องการสร้าง project)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            project_id = 0;
            $('#modal_add_project').modal('show');
        }
    }

    async function edit_project(id) {
        let result = await Swal.fire({
            title: 'Do you have to edit a project?',
            showDenyButton: true,
            //showCancelButton: true,
            confirmButtonText: 'Yes (ต้องการแก้ไข project)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            project_id = id;
            $('#modal_add_project').modal('show');
        }
    }

    async function close_add_project() {
        let result = await Swal.fire({
            title: 'Do you close ?',
            showDenyButton: true,
            confirmButtonText: 'Yes (ตกลง)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            $('#modal_add_project').modal('hide');
        }
    }



    async function remove_project(id) {
        let result = await Swal.fire({
            title: 'Do you remove ?',
            showDenyButton: true,
            confirmButtonText: 'Yes (ตกลง)',
            denyButtonText: `No (ไม่ต้องการ)`,
        });
        if (result.isConfirmed) {
            result = await Swal.fire({
                title: 'Do you remove sure......?',
                showDenyButton: true,
                confirmButtonText: 'Yes (ตกลง)',
                denyButtonText: `No (ไม่ต้องการ)`,
            });
            if (result.isConfirmed) {
                const _reply = await fetchApi("/api_model/project/" + id, "delete", null, "json");
                if (_reply.success) {
                    Swal.fire({
                        icon: "info",
                        title: "Successful",
                        html: _reply.msg,
                    }).then(() => {
                        location.reload();

                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "unsuccessful",
                        html: _reply.msg,
                    }).then(() => {


                    });
                }
            }


        }
    }
    async function submit_add_project() {
        const project_owner = document.getElementById("project_owner").value;
        const project_name = document.getElementById("project_name").value;
        const project_address = document.getElementById("project_address").value;
        const project_staff = document.getElementById("project_staff").value;
        const project_phone = document.getElementById("project_phone").value;

        if (project_owner == "" || project_name == "" || project_address == "" || project_phone == "" || project_staff == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!(ข้อมูลไม่ครบ...)',
                footer: 'CCW'
            })
        } else {

            let result = await Swal.fire({
                title: 'Do you is Confirm ?',
                showDenyButton: true,
                confirmButtonText: 'Yes (ตกลง)',
                denyButtonText: `No (ไม่ต้องการ)`,
            });

            if (result.isConfirmed) {
                const formData = new FormData();
                formData.append("id", 0);
                formData.append("project_owner", project_owner);
                formData.append("project_name", project_name);
                formData.append("project_address", project_address);
                formData.append("project_staff", project_staff);
                formData.append("project_phone", project_phone);
                debug_form(formData)

                const _reply = await fetchApi("/api_model/project/", "post", formData, "json");
                if (_reply.success) {
                    Swal.fire({
                        icon: "info",
                        title: "Successful",
                        html: _reply.msg,
                    }).then(() => {
                        location.reload();

                    });
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "unsuccessful",
                        html: _reply.msg,
                    }).then(() => {


                    });
                }


            }
        }

    }
</script>

</html>