<!DOCTYPE html>
<html lang="en">

<head>
	{% include '_header.html' %}

</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed bg-gradient-gray-dark dark-mode">
	<!-- Content Wrapper. Contains page content -->
	<div class="wrapper">
		{% include '_side_bar.html' %}
		<div class="content-wrapper p-4 text-gray-dark">

			<div class="col">
				<div class="card card-warning">
					<div class="card-header">
						<h3 class="card-title">CCW SYSTEM RECORD</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
							</button>
						</div>

					</div>

				</div>
				<!-- /.card -->
			</div>
			<div class="col">
				<div class="card card-primary card-outline card-outline-tabs">
					<div class="card-header p-0 border-bottom-0">
						<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link" id="custom-tabs-four-Systems_user-tab" data-toggle="pill" onclick="view_table_of_log_pay()"
									href="#custom-tabs-four-Systems_user" role="tab" aria-controls="custom-tabs-four-Systems_user" aria-selected="false">รายรับ</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" id="custom-tabs-four-Gate_access-tab" data-toggle="pill" onclick="view_table_of_qr_code_generator()"
									href="#custom-tabs-four-Gate_access" role="tab" aria-controls="custom-tabs-four-Gate_access" aria-selected="false">สถานะ</a>
							</li> -->
						</ul>
					</div>

					<div class="card-body">
						<div class="tab-content" id="custom-tabs-four-tabContent">
							<div class="tab-pane fade" id="custom-tabs-four-Systems_user" role="tabpanel" aria-labelledby="custom-tabs-four-Systems_user-tab">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title p-4 ">PAYMENT RECORD</h3>
										<div class="form-group">
											<select class="form-control" id="view-table-of-project" onchange="view_table_of_log_pay()">
												{% for p in projects %}
												{% if project_id == p.id %}
												<option selected value="{{p.id}}">{{p.name}}</option>
												{% else %}
												<option value="{{p.id}}">{{p.name}}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
										<div class=" input-group">
											<input type="text" class="form-control form-control-sm" id="reservationtime" placeholder="Type your keywords here" value=""
												onchange="view_table_of_log_pay(this.value)" />
										</div>
									</div>
									<div class="card-body">
										<table class="table" id="table_log_pay_record">
											<tfoot>
												<tr>
													<th colspan="1" class="bg-primary" style="text-align:right">Total:</th>
													<th></th>

												</tr>
											</tfoot>
										</table>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</div>



	</div>
	{% include '_footer.html' %}
	</div>

</body>
{% include '_script.html' %}

<script>
	async function view_table_of_log_pay(date_range = null) {
		if (typeof view_table_of_log_pay.table_date_range == 'undefined') {
			view_table_of_log_pay.table_date_range = date_range;
			return;
		}
		if (date_range) { view_table_of_log_pay.table_date_range = date_range; }

		debug(view_table_of_log_pay.table_date_range)
		const ajax_request_data_path = "/api/log_pay/datatable/";
		const project_id = document.getElementById("view-table-of-project").value;
		debug(project_id)
		const columns_table = [
			{
				data: "name",
				title: "ชื่อ ตู้",
			},
			{
				data: "time",
				title: "วัน-เวลา",
			},
			{
				data: "amount",
				title: "ยอดเงิน",
			},
			{
				data: "type",
				title: "ประเภท",
			},


		];

		//debug(columns_table)
		headers = await get_headers();

		let data_table_view = $("#table_log_pay_record").DataTable({
			dom: "Bfrtipl",
			buttons: [
				"csv",
				"excel",
				"print",
				"colvis",
			],
			destroy: true,
			autoWidth: false,
			pageLength: 10,
			scrollY: "50vh",
			scrollCollapse: true,
			sScrollX: "100%",
			// "paging": false
			// data: dataSet,
			columns: columns_table,
			order: [[1, "desc"]],
			processing: true,
			serverSide: true,
			search: {
				return: true,
			},
			ajax: {
				headers: headers,
				type: "GET",
				url: ajax_request_data_path,
				data: function (d) {
					d.date_range = view_table_of_log_pay.table_date_range;
					d.project_id = project_id;
				},
			},

			footerCallback: function (row, data, start, end, display) {
				debug("footerCallback")
				let api = this.api();

				// Remove the formatting to get integer data for summation
				let intVal = function (i) {
					return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
				};

				// Total over all pages
				total = api
					.column(2)
					.data()
					.reduce(function (a, b) {
						return intVal(a) + intVal(b);
					}, 0);



				// Update footer
				//$(api.column(0).footer()).html('$' + pageTotal + ' ( $' + total + ' total)');
				$(api.column(1).footer()).html(`: ${total}`);

			},

		});
	}
</script>



<script>
	$("#reservationtime").daterangepicker({
		ranges: {
			วันนี้: [moment().hour(0).minute(0), moment().hour(23).minute(59)],
			เมื่อวานนี้: [moment().hour(0).minute(0).subtract(1, "days"), moment().hour(23).minute(59).subtract(1, "days")],
			"7 วันก่อน": [moment().subtract(6, "days"), moment()],
			"30 วันก่อน": [moment().subtract(29, "days"), moment()],
			เดือนนี้: [moment().startOf("month"), moment().endOf("month")],
			เดือนก่อน: [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
		},
		timePicker24Hour: true,
		timePicker: true,
		timePickerIncrement: 1,
		locale: {
			format: "YYYY/MM/DD HH:mm",
		},
	});


	$("#reservationtime-for-qr-gen").daterangepicker({
		ranges: {
			วันนี้: [moment().hour(0).minute(0), moment().hour(23).minute(59)],
			เมื่อวานนี้: [moment().hour(0).minute(0).subtract(1, "days"), moment().hour(23).minute(59).subtract(1, "days")],
			"7 วันก่อน": [moment().subtract(6, "days"), moment()],
			"30 วันก่อน": [moment().subtract(29, "days"), moment()],
			เดือนนี้: [moment().startOf("month"), moment().endOf("month")],
			เดือนก่อน: [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
		},
		timePicker24Hour: true,
		timePicker: true,
		timePickerIncrement: 1,
		locale: {
			format: "YYYY/MM/DD HH:mm",
		},
	});
</script>

</html>